@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  background-color: black;
  font-family: 'Pretendard', sans-serif;
  scrollbar-gutter: stable;
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-light-gray: #d9d9d9;
  --color-gray-50: #f3f3f3;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #c7c7c7;
  --color-gray-300: #adadad;
  --color-gray-400: #9d9d9d;
  --color-gray-500: #858585;
  --color-gray-600: #6a6a6a;
  --color-gray-700: #4f4f4f;
  --color-gray-800: #3a3a3a;
  --color-green-50: #e9fbf0;
  --color-green-100: #bbf1d0;
  --color-green-200: #9bebb9;
  --color-green-300: #6de298;
  --color-green-400: #51dc85;
  --color-green-500: #25d366;
  --color-green-600: #22c05d;
  --color-green-700: #1a9648;
  --color-green-800: #147438;
  --color-green-900: #10592b;

  --font-pretendard: 'Pretendard', pretendard;
  --color-light-yellow: #fcfef9b2;
}
